:host {
  pointer-events: none;

  .joint-paper {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: inherit;
  }

  /deep/ g.joint-viewport {

    circle[id^="v-"][r^="5"] {
      fill: #f5552a;
    }
  }
}