<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>Diploma Nets</mat-card-title>
    <mat-card-subtitle>v1.0.1</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/about.jpg" alt="Photo of a Raccoon">
  <mat-card-content>
    <p>
      Hello everybody it's my final version of diploma project. v1.0.1
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://github.com/gios/diploma-nets" target="_blank" mat-raised-button color="primary">
      STAR
    </a>
    <a href="https://github.com/gios" target="_blank" mat-raised-button>
      FOLLOW
    </a>
  </mat-card-actions>
</mat-card>
