<mat-card>
  <div class="title">
    <h2>{{ registrationState ? 'Registration' : 'Login' }}</h2>
    <mat-slide-toggle (change)="authToggleChange($event)" [checked]="registrationState">Are you a new user?</mat-slide-toggle>
  </div>
  <form class="login-container" [formGroup]="authForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <mat-form-field hintLabel="Username is case sensitive">
        <input matInput #input placeholder="Enter your username" formControlName="username">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">Advance</button>
    <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner>
  </form>
</mat-card>