mat-card {
  margin-top: 15vh;
}

mat-spinner {
  margin-top: 2em;
}

.title {
  text-align: center;
}

.login-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  > div {
    width: 30em;
    margin: 1em;

    > mat-form-field {
      width: 100%;

      mat-icon {
        cursor: pointer;
      }
    }
  }
}