:host {

  > md-toolbar {

    button {
      margin: 0 1em;

      &:disabled {

        md-icon {
          animation: circle 2s infinite;
        }
      }
    }

    .fill-remaining-space {
      flex: 1 1 auto;
    }
  }
}

@keyframes circle {

  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}