:host {

  .adjuster {
    min-width: 40em;
  }

  .action-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1em;
  }

  .headers-align {

    > div {
      width: 40em;
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    mat-expansion-panel-header {

      mat-icon {
        transform: translateX(-1em);
      }
    }
  }

  .expansion-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40em;

    > mat-form-field {
      margin: 0 2em;
    }
  }

  .connections-body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    .type {
      font-size: 11px;
      color: #6a737d;
    }
  }
}