<md-tab-group [(selectedIndex)]="selectedTabIndex">

  <md-tab label="Pinnacles">
    <div class="adjuster"></div>
    <div>
      <md-accordion class="headers-align">
        <div *ngFor="let navPinnacle of navPinnacles">
          <md-expansion-panel>
            <md-expansion-panel-header>
              <md-panel-title>
                {{ navPinnacle.get('baseName') }}
              </md-panel-title>
              <md-panel-description>
                Edit pinnacle name, value and position
              </md-panel-description>
            </md-expansion-panel-header>

            <div class="expansion-form">
              <md-form-field>
                <input mdInput placeholder="Name" [value]="navPinnacle.get('baseName')">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Value" [value]="navPinnacle.get('tokens')">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Position X" [value]="navPinnacle.get('position').x">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Position Y" [value]="navPinnacle.get('position').y">
              </md-form-field>
            </div>
          </md-expansion-panel>
        </div>
      </md-accordion>
    </div>
  </md-tab>

  <md-tab label="Transitions">
    <div class="adjuster"></div>
    <div *ngIf="selectedTabIndex == 1">
      <md-accordion class="headers-align">
        <div *ngFor="let navTransition of navTransitions">
          <md-expansion-panel>
            <md-expansion-panel-header>
              <md-panel-title>
                {{ navTransition.get('baseName') }}
              </md-panel-title>
              <md-panel-description>
                Edit transition name, time and position
              </md-panel-description>
            </md-expansion-panel-header>

            <div class="expansion-form">
              <md-form-field>
                <input mdInput placeholder="Name" [value]="navTransition.get('baseName')">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Time" [value]="navTransition.attr('.label-time/text').split(' ')[2]">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Position X" [value]="navTransition.get('position').x">
              </md-form-field>

              <md-form-field>
                <input mdInput placeholder="Position Y" [value]="navTransition.get('position').y">
              </md-form-field>
            </div>
          </md-expansion-panel>
        </div>
      </md-accordion>
    </div>
  </md-tab>

  <md-tab label="Connections">
    <div class="adjuster"></div>
    Content 3
  </md-tab>
</md-tab-group>
