<mat-tab-group [(selectedIndex)]="selectedTabIndex">

  <mat-tab label="Pinnacles">
    <div class="adjuster"></div>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="create('pinnacle')">Create</button>
    </div>
    <div>
      <mat-accordion class="headers-align">
        <div *ngFor="let navPinnacle of navPinnacles">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ navPinnacle.name }}
              </mat-panel-title>
              <mat-panel-description>
                Edit pinnacle name, value and position
              </mat-panel-description>
              <mat-icon (click)="delete($event, 'pinnacle', navPinnacle.id)">delete</mat-icon>
            </mat-expansion-panel-header>

            <div class="expansion-form">
              <mat-form-field>
                <input matInput placeholder="Name" type="text" [value]="navPinnacle.name">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Value" type="number" [value]="navPinnacle.value">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Position X" type="number" [value]="navPinnacle.x">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Position Y" type="number" [value]="navPinnacle.y">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Transitions">
    <div class="adjuster"></div>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="create('transition')">Create</button>
    </div>
    <div *ngIf="selectedTabIndex == 1">
      <mat-accordion class="headers-align">
        <div *ngFor="let navTransition of navTransitions">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ navTransition.name }}
              </mat-panel-title>
              <mat-panel-description>
                Edit transition name, time and position
              </mat-panel-description>
              <mat-icon (click)="delete($event, 'transition', navTransition.id)">delete</mat-icon>
            </mat-expansion-panel-header>

            <div class="expansion-form">
              <mat-form-field>
                <input matInput placeholder="Name" type="text" [value]="navTransition.name">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Time" type="number" [value]="navTransition.time">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Position X" type="number" [value]="navTransition.x">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Position Y" type="number" [value]="navTransition.y">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Connections">
    <div class="adjuster"></div>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="create('connection')">Create</button>
    </div>
    <div *ngIf="selectedTabIndex == 2">
      <mat-accordion class="headers-align">
        <div *ngFor="let navConnection of navConnections">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ navConnection.connect[0].name }}
              </mat-panel-title>
              <mat-panel-description>
                Connection information
              </mat-panel-description>
              <mat-icon (click)="delete($event, 'connection', navConnection.id)">delete</mat-icon>
            </mat-expansion-panel-header>

            <div class="connections-body">
              <div>
                <div>{{ navConnection.connect[0].name }}</div>
                <div class="type">{{ navConnection.connect[0].type }}</div>
              </div>
              <div>
                <mat-icon>arrow_forward</mat-icon>
                <div>{{ navConnection.value }}</div>
              </div>
              <div>
                <div>{{ navConnection.connect[1].name }}</div>
                <div class="type">{{ navConnection.connect[1].type }}</div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
