<md-sidenav-container class="sidenav-container">

  <md-sidenav #sidenav>
    <app-sidenav></app-sidenav>
  </md-sidenav>

  <md-sidenav #constructSidenav position="end">
    <app-construct-sidenav></app-construct-sidenav>
  </md-sidenav>

  <div class="sidenav-action">
    <md-icon (click)="sidenav.open()">keyboard_arrow_right</md-icon>
  </div>

  <div class="sidenav-action end">
    <md-icon (click)="constructSidenav.open()">keyboard_arrow_right</md-icon>
  </div>

  <div class="root">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>