<mat-card>
  <mat-card-title>
    Chart Controllers
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Session time" [(ngModel)]="selectedSession">
        <mat-option *ngFor="let session of historySessions" [value]="session.id">
          {{ session.createdAt | date : 'short' }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Pinnacles" multiple [(ngModel)]="selectedPinnacles">
        <mat-option *ngFor="let pinnacle of pinnacles" [value]="pinnacle.id">
          {{ pinnacle.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<div>
  <!-- <app-chart></app-chart> -->
</div>