<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #constructSidenav position="end">
    <app-construct-sidenav [data]="netData" (changeNet)="netData = $event"></app-construct-sidenav>
  </mat-sidenav>

  <div class="sidenav-action end">
    <mat-icon (click)="constructSidenav.open()">keyboard_arrow_right</mat-icon>
  </div>

  <app-toolbar [buttons]="toolbarButtons"></app-toolbar>
  <div class="net-container">
    <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>
    <app-net [data]="netData"
      [transitionState]="transitionState"
      (setHistory)="setHistory($event)"
      (transitionStopped)="transitionStopped()"></app-net>
  </div>
</mat-sidenav-container>